<h1> Search authors</h1>

<form action="/authors" method="GET">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %> ">
    <button type="submit">Submit</button>
</form>
    
    <br>

<% authors.forEach(author => { %>
    <ul>
        <li><%= author.name %></li>
    </ul>
<% }); %> 