<h2>New Author</h2>

<form action="/authors" method="POST">

<input type="text" name="name" placeholder="here goes your name">
<a href="/authors">Cancel</a>
<button type="submit">Create</button>

</form>